<div class="container py-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-dark text-light">
        <img src="ruta-a-imagen1" class="card-img-top" alt="Creatives">
        <div class="card-body">
          <h5 class="card-title">Open Calls for Creatives</h5>
          <a href="#" class="text-light">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-light">
        <img src="ruta-a-imagen2" class="card-img-top" alt="Partnership">
        <div class="card-body">
          <h5 class="card-title">11 Years of Partnership</h5>
          <a href="#" class="text-light">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-light">
        <img src="ruta-a-imagen3" class="card-img-top" alt="Podcast">
        <div class="card-body">
          <h5 class="card-title">The Creatives Meetup Podcast</h5>
          <a href="#" class="text-light">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</div>